/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************/
body
{
	width: 800px;
	margin: 0 auto;
}

html
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

h1
{
	font-size: 50px;
	margin: 10px 0 25px 0;
	border-bottom: 1px solid #333;
	padding-bottom: 15px;
}

h2
{
	margin-bottom: 15px;
	font-size: 24px;
	color: #666;
}

a
{
	color: #006699;
	padding-bottom: 10px;
	display: block	;
}

a.redlink
{
	color: #ff003c;
}

dt
{
	float: left;
	width: 200px;
	font-weight: bold;
}

dd
{
	padding-left: 200px;
	margin-bottom: 10px;
}

ul#linkedin-friends li
{
	display: inline;
	float: left;
	margin-left: 5px;
}

.breaker
{
	clear: both;
}